@model Abacus.Models.DiaitologioViewModel

@{
    Layout = null;
}        

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .k-textbox {
            display: block;
            width: 500px;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

            .k-textbox:focus {
                border-color: #66afe9;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
    </style>
</head>

<div class="body-content" style="margin:10px 20px 10px 40px">

    <h4 style="font-weight:bold">Διαιτολόγιο ημέρας</h4>
    <hr style="width:500px;border-radius:2px;border-color:darkgray" />
    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(model => model.ΔΙΑΙΤΟΛΟΓΙΟ_ΚΩΔ, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group" style="margin-bottom:5px;margin-top:5px">
        @Html.LabelFor(model => model.ΗΜΕΡΟΜΗΝΙΑ, new { @class = "control-label col-md-8" })
        @Html.EditorFor(model => model.ΗΜΕΡΟΜΗΝΙΑ, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ΗΜΕΡΟΜΗΝΙΑ, "", new { @class = "text-danger" })
    </div>
    <p></p>

    <div class="form-group" style="margin-bottom:5px">
        @Html.LabelFor(model => model.ΓΕΥΜΑ_ΠΡΩΙ, new { @class = "control-label col-md-2" })
        @(Html.Kendo().DropDownListFor(model => model.ΓΕΥΜΑ_ΠΡΩΙ)
        .Name("ΓΕΥΜΑ_ΠΡΩΙ")
        .DataTextField("ΠΡΩΙΝΟ")
        .DataValueField("ΠΡΩΙΝΟ_ΚΩΔ")
        .HtmlAttributes(new { style = "width:600px;" })
        .OptionLabel("---Επιλογή---")
        .AutoBind(true)
        .DataSource(source => { source.Read(read => { read.Action("GetMealsMorning", "Station"); }).ServerFiltering(true); })
        )
        @Html.ValidationMessageFor(model => model.ΓΕΥΜΑ_ΠΡΩΙ, "", new { @class = "text-danger" })
    </div>
    <p></p>

    <div class="form-group" style="margin-bottom:5px">
        @Html.LabelFor(model => model.ΓΕΥΜΑ_ΜΕΣΗΜΕΡΙ, new { @class = "control-label col-md-2" })
        @(Html.Kendo().DropDownListFor(model => model.ΓΕΥΜΑ_ΜΕΣΗΜΕΡΙ)
        .Name("ΓΕΥΜΑ_ΜΕΣΗΜΕΡΙ")
        .DataTextField("ΜΕΣΗΜΕΡΙΑΝΟ")
        .DataValueField("ΜΕΣΗΜΕΡΙΑΝΟ_ΚΩΔ")
        .HtmlAttributes(new { style = "width:600px;" })
        .OptionLabel("---Επιλογή---")
        .AutoBind(true)
        .DataSource(source => { source.Read(read => { read.Action("GetMealsNoon", "Station"); }).ServerFiltering(true); })
        )
        @Html.ValidationMessageFor(model => model.ΓΕΥΜΑ_ΜΕΣΗΜΕΡΙ, "", new { @class = "text-danger" })
    </div>
    <p></p>

    <div class="form-group" style="margin-bottom:5px">
        @Html.LabelFor(model => model.ΓΕΥΜΑ_ΒΡΕΦΗ, new { @class = "control-label col-md-2" })
        @(Html.Kendo().DropDownListFor(model => model.ΓΕΥΜΑ_ΒΡΕΦΗ)
        .Name("ΓΕΥΜΑ_ΒΡΕΦΗ")
        .DataTextField("ΒΡΕΦΙΚΟ")
        .DataValueField("ΒΡΕΦΙΚΟ_ΚΩΔ")
        .HtmlAttributes(new { style = "width:600px;" })
        .OptionLabel("---Επιλογή---")
        .AutoBind(true)
        .DataSource(source => { source.Read(read => { read.Action("GetMealsBaby", "Station"); }).ServerFiltering(true); })
        )
        @Html.ValidationMessageFor(model => model.ΓΕΥΜΑ_ΒΡΕΦΗ, "", new { @class = "text-danger" })
    </div>
    <p></p>

    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(model => model.ΣΤΑΘΜΟΣ_ΚΩΔ, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

</div>    
